.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.flex{
    display:  flex;
}

.p20{
    padding: 20px;
}

.pT0L20{
    padding: 20px 0px;
}

.bold{
    font-weight: bold;
}

.label{
    width: 150px;
}

.font16{
    font-size: 16px;
}